@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff04d;
  --secondary-color: #202020;
  --white-color: #ffffff;
  --tertiary-color: #cccccc;
  --quaternary-color: #ffa500;
  --quinary-color: #ff6347;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
